{% extends 'parts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}إضافة عميل جديد{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-secondary">
                    <h2 class="text-center mb-4">إضافة عميل جديد</h2>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}  <!-- استخدام crispy لعرض النموذج الرئيسي بشكل جيد -->
                    <button type="submit" class="btn btn-primary">إضافة</button>
                        <a href="{% url 'customer_list' %}" class="btn btn-secondary">الرجوع للقائمة</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
 