
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <link rel="stylesheet" href="{% static 'path_to_your_css_file.css' %}">
</head>
<body>
    <div class="container">
        <h1>Access Denied</h1>
        <p>You do not have permission to view this page.</p>

        <h3>Useful Links:</h3>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'sale_list' %}">Sale List</a></li>
            <li><a href="{% url 'payment_list' %}">Payment List</a></li>
            <li><a href="{% url 'logout' %}">logout</a></li>
            <!-- Add more links as needed -->
        </ul>
    </div>
</body>
</html>
